@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Selection */
::selection {
  background-color: rgba(255, 122, 24, 0.3);
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.1);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7a18;
}